body{
    margin:0;
    padding:0;
}
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;

}
a{
    color: #ffffff;
}
/* header */
header{
    text-align: right;
}
header ul li{
    display: inline;
}
header nav{
    background-color: #1F3246;
    width: 100%;
    height: 50px;
    font-size: 15px;
    padding-top: 10px;
}
header a{
    color:white;
    padding-left: 25px;
    padding-right:15px;
    
}
/*dropdown*/
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    position: absolute;
    display: none;
    background-color: #ffffff;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a{
    color: black;
}

/*navbar*/
.navbar{
    width: 100%;
    height: 100px;
}
.navbar ul li{
    display: inline;
    padding-left: 60px;
}
.navbar nav{
    width: 100%;
    height: 100px;
    font-size: 15px;
    text-transform: uppercase;
}
.navbar a{
    color: black;
}
/*button*/
.button{
    width: 100px;
    height: 40px;
    background-color: #FBB034;
    color: #ffffff;
    border: 0;
    border-radius: 50px;
}
.button--green{
    width: 150px;
    border: 2px solid #FFFFFF;
    margin-bottom: 100px;
    background-color: #26A69A;
}
.button--small{
    text-transform: uppercase;
    color: white;
    background-color: #28B0A7;
    border: 0;
}
/*banner*/
.banner{
    width: 100%;
    min-height: 500px;
}
.banner__image{
    width: 100%;
    height: 450px;
}
.banner__description{
    width: 500px;
    margin-top: -350px;
    margin-left: 250px;
    color: #ffffff;
}
/*card-swap*/
.card-swap{
    margin-left: 450px;
    margin-bottom: 500px;
    
}
.card-swap--4pic{
    margin-left: 200px;
    margin-bottom: 500px;
}
.card-swap--1pic{
    margin-left: 570px;
    margin-bottom: 500px;
}
.card-swap--3pic{
    margin-left: 320px;
    margin-bottom: 500px;
}
.card-swap ul li{
    display: flex;
}
.card{
    width: 250px;
    height: 100px;
    text-align: center;
    float: left;
}

.card p{
    font-size: 14px;
}
.card__image{
    height: 150px;
}
.card__description--font{
    text-align: left;
}
.card__description--font{
    font-size: 10px;
}
.icon ul li{
    display: inline;
}
.icon{
    font-size: 10px;
    text-align: left;
    margin-left: -40px;
    margin-top: 10px;
}
/*home*/
/*intro*/
.intro{
    width: 100%;
    height: 300px;
    display: inline-block;
    margin-bottom: 100px;
}
.intro__about{
    width: 100%;
    height: 300px;
    display: inline-block;
}
.intro__image{
    width: 300px;
    height: 350px;
    margin-top: -120px;
    margin-left: 250px;
}
.intro__image--right{
    width: 300px;
    height: 350px;
    float: right;
    margin-top: 20px;
    margin-right: 200px;
}
.intro__description{
    width: 500px;
    float: right;
    margin-right: 150px;
    font-size: 15px;
}
.intro__description--left{
    width: 500px;
    font-size: 15px;
    margin-top: 100px;
    margin-left: 150px;
}
/*table*/
.table{
    width: 400px;
    margin-left: 100px;
    
}
table{
    width: 400px;
    height: 500px;
    text-align: center;
    margin-left: 80px;
}
.solieu__image{
    float: right;
    width: 700px;
    height: 600px;
    margin-top: -700px;
}
/*feature businesstype*/
.features, .businesstype, .news h3{
    text-align: center;
    margin-bottom: 100px;
}
.businesstype, .news{
    margin-top: 50px;
}
/*advertise*/
.advertise{
    width: 100%;
    height:800px;
    background-image: url('image/img_retailers.png');
    background-repeat: no-repeat;
    background-size: 400px, 600px;
    text-align: center;
}
.advertise h2{
    width: 500px;
    text-align: center;
}
.advertise--ss2{
    width: 100%;
    height:800px;
    background-image: url('image/img_intergration.png');
    background-repeat: no-repeat;
    background-size: 400px, 600px;
    text-align: center;
}
.advertise--ss2 h2{
    width: 500px;
    text-align: center;
}
/*list*/
.list{
    margin-left: 80px;
    margin-top: 120px;
}

.image{
    width: 130px;
    height: 130px;
    padding-left: 20px;
}

.logo{
    width: 100px;
    height: 50px;
    margin-left:-110px;
}
.list ul li{
    display: inline-block;
}
.list--5pic ul li{
    display: inline-block;
}
.list--3pic ul li{
    display: inline-block;
}
/*footer*/
footer{
    background-color: #1F3246;
    width: 100%;
    height: 300px;
    color: #FFFFFF;
}
.col{
    font-size: 13px;
    margin-left: 50px;
}
.copyright{
    background-color:#1B2C3D;
    
}

