a {
    color: #ffffff;
}
.ta--left {
    text-align: left;
}
.ta--center {
    text-align: center;
}
.float--left {
    float: left;
}
.float--right{
    float: right;
}
.margin-l50 {
    margin-left: 50px;
}
.margin--r50{
    margin-right: 50px;
}
.margin-l100 {
    margin-left: 100px;
}
.margin-b100 {
    margin-bottom: 100px;
}
.margin-b500 {
    margin-bottom: 500px;
}
.margin--t100 {
    margin-top: 100px;
}
.margin--t500 {
    margin-top: 500px;
}
.margin-t50 {
    margin-top: 50px;
}
.margin--tm200 {
    margin-top: -200px;
}
.margin--tm100{
    margin-top: -100px;
}
.pad--l100px{
    padding-left: 100px;
}
.pad--r100px{
    padding-right: 100px;
}
/* header */
header {
    text-align: right;
}
header ul li {
    display: inline;
}
header nav {
    background-color: #1F3246;
    width: 100%;
    height: 50px;
    font-size: 15px;
    padding-top: 10px;
}
header a {
    color:white;
    padding-right: 30px;
    
}
div ul li{
    display: inline-block;
}
/*dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    position: absolute;
    display: none;
    background-color: #ffffff;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
}

/*navbar*/
.navbar {
    width: 100%;
    height: 100px;
}
.navbar ul li {
    display: inline;
    padding-left: 60px;
}
.navbar nav {
    width: 100%;
    height: 100px;
    font-size: 15px;
    text-transform: uppercase;
}
.navbar a {
    color: black;
}
/*button*/
.button {
    width: 100px;
    height: 40px;
    background-color: #FBB034;
    color: #ffffff;
    border: 0;
    border-radius: 50px;
}
.button--green {
    width: 150px;
    border: 2px solid;
    margin-bottom: 100px;
    background-color: #28B0A7;
}
.button--small {
    width:50px;
    height: 25px;
    border-radius: 0;
}
/*banner*/
.banner {
    width: 100%;
    min-height: 500px;
}
.banner__image {
    width: 100%;
    height: 450px;
    z-index: 1;
}
.banner__logo{
    width: 300px;
    height: 350px;
    margin-top: -300px;
    z-index: 2;
    margin-left: 900px;
}


.banner__description {
    width: 500px;
    margin-top: -300px;
    margin-left: 250px;
    color: #ffffff;
}
/*card-swap*/
.card-swap {
    margin-left: 400px;
    margin-bottom: 500px;
    
}
.card {
    width: 250px;
    height: 350px;
    margin-left: 30px;
    border: 0;
}
.card--small{
    height: 200px;
}

.card p {
    font-size: 14px;
}
.card__image {
    height: 150px;
}
.card-swap--4pic {
    margin-left: 150px;
}
.card-swap--1pic {
    margin-left: 520px;
}
.card-swap--3pic{
    margin-left: 250px;
}
/*intro*/
.intro {
    width: 100%;
    height: 300px;
    display: inline-block;
    margin-bottom: 100px;
}
.intro__image {
    width: 300px;
    height: 350px;
    margin-top: -120px;
    margin-left: 250px;
}
.intro__image--pos {
    margin-right: 200px;
    margin-top:-20px;
}
.intro__iconplay{
    width: 50px;
    height: 50px;
    margin-left: -170px;
    margin-top: -100px;
}
.intro__iconplay--pos{
    margin-top: -300px;
}
.intro__description {
    width: 500px;
    margin-right: 150px;
    font-size: 15px;
}
.intro__description--pos {
    margin-left: 150px;
}
/*table*/
.table {
    margin-left: 100px;
    
}
table { 
    width: 400px;
    height: 500px;
    margin-left: 80px;
}
.solieu__image {
    width: 700px;
    height: 600px;
    margin-top: -700px;
}
/*asvertise*/
.advertise {
    width: 100%;
    height:800px;
    background-image: url('image/img_retailers.png');
    background-repeat: no-repeat;
    background-size: 400px, 600px;
    text-align: center;
}
.advertise--bg {
    background-image: url('image/img_intergration.png');
}
/*list*/
.list {
    margin-left: 80px;
    margin-top:100px;
}
.list ul li{
    display: inline-block;
}
.image {
    width: 130px;
    height: 130px;
    padding-left: 20px;
}
.image--small {
    width: 80px;
    height: 80px;
}
.image__icon{
    margin-top: -100px;
}
.logo {
    width: 100px;
    height: 50px;
    margin-left:-110px;
}
/*icon*/
.icon ul li {
    display: inline;
}
.icon {
    font-size: 10px;
    text-align: left;
    margin-left: -40px;
    margin-top: 10px;
}
/*consumer*/
.consumertb {
    margin-left: 300px;
}
.cosumertb table {
    width: 800px;
    font-size: 14px;
}
.consumertb table td {
    height: 500px;
}
.consumer__des {
    font-size: 13px; 
}
/*keytechnology*/
.keytechnology{
    background-image: url("image/bg_gray.png")
}
/*footer*/
footer {
    background-color: #1F3246;
    width: 100%;
    height: 300px;
    color: #FFFFFF;
}
.col {
    font-size: 13px;
    margin-left: 50px;
}
.copyright {
    background-color:#1B2C3D;
    
}