* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: opensans-bold;
    src: url("font-open-sans/OpenSans-Bold.ttf") format('truetype'),
        url("font-open-sans/OpenSans-Bold.woff") format('woff');
}

@font-face {
    font-family: opensans-light;
    src: url("font-open-sans/OpenSans-Light.ttf") format('truetype'),
        url("font-open-sans/OpenSans-Light.woff") format('woff');
}

@font-face {
    font-family: opensans-regular;
    src: url("font-open-sans/OpenSans-Regular.ttf") format('truetype'),
        url("font-open-sans/OpenSans-Regular.woff") format('woff');
}

@font-face {
    font-family: opensans-extra-bold;
    src: url("font-open-sans/OpenSans-ExtraBold.ttf") format('truetype'),
        url("font-open-sans/OpenSans-ExtraBold.woff") format('woff');
}

@font-face {
    font-family: opensans-italic;
    src: url("font-open-sans/OpenSans-Italic.ttf") format('truetype'),
        url("font-open-sans/OpenSans-Italic.woff") format('woff');
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    height: auto;
    font-family: opensans-regular, sans-serif;
    color: #777777;
}

@media screen and (max-width:992px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 13px;
    }
}

@media screen and (max-width:576px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:480px) {
    html {
        font-size: 11px;
    }
}

@media screen and (max-width:380px) {
    html {
        font-size: 10px;
    }
}

ul {
    margin: 0;
}

ul li {
    list-style-type: none;
}

.text-bold {
    font-family: opensans-bold;
}

.headding__title {
    color: #333333;
    line-height: 40px;
    font-size: 2rem;
}

@media screen and (max-width:576px) {
    .headding__title {
        line-height: 30px;
    }
}

.text-link {
    font-family: opensans-bold;
    font-size: 14px;
    color: #26A69A;
    line-height: 24px;
}

.text-link:hover {
    text-decoration: none;
}

.text-link__icon {
    color: #26A69A;
    font-size: 12px;
    padding-left: 5px;
}

.text-link__icon:hover {
    color: #2980b9;
}

/*float*/
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*position - pos*/
.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

/*padding - p, padding-bottom -> pad-b*/

.pb-15 {
    padding-bottom: 15px;
}

.pt-15 {
    padding-top: 15px;
}

.pr-15 {
    padding-right: 15px;
}

.pl-15 {
    padding-left: 15px;
}

.pt-200 {
    padding-top: 200px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-50 {
    padding-top: 50px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pt-48 {
    padding-top: 48px;
}

.pt-24 {
    padding-top: 24px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pt-12 {
    padding-top: 12px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pt-30 {
    padding-top: 30px;
}

/*width*/
.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
    height: auto;
}

.w-150 {
    width: 2000px;
    height: auto;
}

.w-650 {
    max-width: 650px;
}

.w-700 {
    max-width: 700px;
}

.w-850 {
    max-width: 850px;
}

.mw-910 {
    max-width: 910px;
}

/*height*/
.h-5 {
    height: 5rem;
    width: auto;
}

@media screen and (min-width: 768px) {
    .h-md-7 {
        height: 7rem;
        width: auto;
    }
}

/*margin - m*/

.mt-24 {
    margin-top: 24px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-6 {
    margin-top: 3.5rem;
}

.ml-0 {
    margin-left: 0;
}

.ml-16 {
    margin-left: 16.33%;
}

.mb-0 {
    margin: 0 !important;
}

.ml-32 {
    margin-left: 32%;
}

.ml-8 {
    margin-left: 8%;
}

.ml-48 {
    margin-left: 48%;
}

/* top-header */
.bg-midnight {
    background-color: #1F3246;
}

.top-header__menu {
    margin: 0;
}

.top-header__menu li {
    display: inline;
}

.top-header__nav {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
    line-height: 24px;
}

.top-header__nav a {
    color: white;
    margin-left: 40px;
    opacity: 0.6;
}

.top-header__nav a:hover {
    color: #3498db;
    text-decoration: none;
}

@media only screen and (max-width:420px) {
    .top-header__nav a {
        margin-left: 15px;
    }
}

/*end top header*/
/* main-header*/
.main-header {
    background-color: #ffffff;
    box-shadow: 0 3px 5px;
    display: flex;
}
.main-header a {
    text-decoration: none;
    color: #777777;
    opacity: 0.7; 
}

.main-header__logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-header__logo a {
    opacity: 1;
}
.main-header__menu {
    margin: 0;
}

.main-header__menu li {
    position: relative;
    display: inline-block;
    padding-right: 25px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}
.main-header__menu>li {
    padding-bottom: 30px;
    padding-top: 30px;
}
.main-header__menu-parent {
    font-size: 15px;
    text-transform: uppercase;
}
.main-header__menu-child {
    padding: 15px 0;
}
.main-header__menu-parent a:hover {
    color: black !important;
    opacity: 1;
}

.main-header__menu-parent img {
    padding-left: 10px;
}

.main-header__sub-menu {
    display: none;
    position: absolute;
    background-color: #EEEEEE;
    min-width: 240px;
    z-index: 111;
    padding-left: 15px;
    margin-top: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.main-header__sub-menu ul li {
    padding: 5px 0;
    display: block;
}

.main-header__sub-menu-title {
    text-transform: uppercase;
    font-family: opensans-bold;
    font-size: 15px;
}
.main-header__sub-menu-link {
    text-transform: capitalize;
    font-size: 15px;
}
.main-header__sub-menu-link:hover {
    color: black;
    opacity: 1;
}

.main-header__menu li:hover .main-header__sub-menu {
    display: block;
}

.main-menu__toggle {
    float: right;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.main-menu__toggle:hover {
    color: #2c3e50;
}

.main-header .icon {
    display: none;
}

.show-content {
    display: block;
}

.main-header__content .main-header__button {
    padding: 0;
}

@media screen and (max-width:1200px) {
    .main-header__menu-parent {
        font-size: 12px;
    }

    .main-header__content ul li {
        padding-right: 20px;

    }
}

@media screen and (max-width:992px) {
    .main-header__logo {
        text-align: center;
        width: 100%
    }

    .main-header__content {
        width: 100%;
        text-align: center;
    }

    .main-header__content ul li {
        text-align: left;
    }
}

@media screen and (max-width:768px) {
    .main-header__button {
        margin-top: 48px;
    }

    .main-header__logo {
        text-align: left;
        padding-bottom: 10px;
        padding-top: 10px;
        transform: none;
    }

    .main-menu__toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 50%;
        margin-top: -20px;
    }

    .main-header .main-header__content {
        position: fixed;
        width: 220px;
        height: 100vh;
        background-color: black;
        top: 0;
        right: -100%;
        transition: 0.9s;
        z-index: 11;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .main-header__menu-parent img {
        float: right;
        padding-top:20px;
    }

    .main-header__menu li {
        display: block;
        border-bottom: 1px solid white;
    }
    .main-header__menu>li {
        padding: 0;
    }
    .main-header__menu-parent {
        line-height: 48px;
    }
    .main-header__menu a {
        color: white !important;
    }

    .main-header__menu-parent>a:hover {
        color: #3498db !important;
    }

    .main-header__sub-menu-title,
    .main-header__sub-menu-link {
        color: #999999;
        font-size: 13px;
    }
    .main-header__menu-child {
        padding:0;
    }
    .main-header__menu li a {
        padding-left: 15px;
    }
    .main-header__menu li:last-child {
        border-bottom: none;
    }

    .main-header .show-menu {
        right: 0%;
    }

    .main-header .hide_menu {
        right: -100%;
    }

    .main-header .main-header__sub-menu {
        position: relative;
        background-color: #2f3542;
        margin-top: 0;
        padding-left: 0;
    }

    .main-header__sub-menu ul li {
        padding: 15px 0;
    }

    .main-header__menu li:hover .main-header__sub-menu {
        display: none;
    }
    .main-header__menu li.action .main-header__sub-menu {
        display: block;
    }

    .main-header__menu-link a:hover {
        color: #ffffff;
    }
}

/*end main header*/
/*home-intro - connectpos- future*/
.home-intro {
    margin-top: -135px;
    font-size: 16px;
}

.home-intro__wrapper {
    width: 100%;
}

.home-story__picture,
.home-intro__picture,
.home-intro__content {
    position: relative;
}

.icon-play {
    position: absolute;
    width: 58px;
    height: 72px;
    top: 50%;
    left: 50%;
    margin-top: -36px;
    margin-left: -29px;
}

.home-story__descript,
.home-intro__descript {
    font-size: 1.125rem;
    color: #777777;
    line-height: 32px;
}

@media screen and (max-width:992px) {

    .home-story__descript,
    .home-intro__descript {
        line-height: 25px;
    }
}

@media screen and (max-width:768px) {

    .home-intro .home-story__picture,
    .home-intro .home-intro__picture {
        padding-bottom: 30px;
    }

    #slide-quote .home-story__picture {
        padding-bottom: 50px;
    }
}

@media screen and (max-width:576px) {

    p {
        font-size: 13px !important;
    }
}

/*end home-intro - connectpos- future*/
/*home-feature*/
.home-features-inner {
    width: 100%;
    max-width: 550px;
    position: relative;
    padding-top: 250px;
    padding-bottom: 270px;
}

.home-features__image {
    left: 100%;
    position: absolute;
    top: 0;

}

.home-features__list-box {
    padding-top: 30px;
}

.home-solution-inner,
.features-box__inner,
.solution-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.features-box__icon {
    width: 50px;
    height: 50px;
}

/*end home feature*/
.list-box,
.list-picture,
.home-solution-inner {
    padding-top: 50px;
}

.solution-item__title {
    font-size: 1.125rem;
    line-height: 24px;
}
@media screen and (max-width:576px) {
    .solution-item__title {
        font-size: 20px;
    }
}
.box-item__content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.box-item__pictures {
    padding: 1rem;
}

.box-item__title {
    font-size: 1.375rem;
    color: #555555;
    line-height: 24px;
}

@media screen and (max-width:576px) {
    .box-item__title {
        font-size: 18px;
    }
}

.box-item__descript {
    font-size: 1rem;
    line-height: 24px;
    color: #777777;
}

/*end home galaxy*/
/*home client*/

.home-client-inner {
    position: relative;
    padding-bottom: 200px;
}

.home-client__picture {
    position: absolute;
    top: 0;
    right: 80%;
}

.square-wrapper {
    padding-top: 100px;
}

.square-item {
    width: 100%;
}

.square__picture {
    background-image: url("image/bg_logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -10px;
    position: relative;
}

.square__picture::after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

.square__picture-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.square-picture--bg-blue {
    background-image: url("image/bg_blue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg--small {
    height: 130px;
}

.square-offset-1 {
    margin-left: 16.666666667%;
}

.square-offset-2 {
    margin-left: 8.333333333333%;
}

.square-offset-3 {
    margin-left: 33.3333333333333%;
}

.square-offset-6 {
    margin-left: 50%;
}

@media screen and (max-width:992px) {

    .square-offset-1,
    .square-offset-3,
    .square-offset-6 {
        margin-left: 0;
    }

    .square-offset-2 {
        margin-left: 12.66666667%;
    }
}

@media screen and (max-width:768px) {
    .home-client-inner {
        padding-bottom: 100px;
    }

    .home-client-inner .headding__title {
        padding-top: 0;
    }

    .square-offset-4 {
        margin-left: 16.666666667%;
    }

    .square-offset-2 {
        margin-left: 0;
    }

    .square-offset-5 {
        margin-left: 33.333333333%;
    }

    .home-client__picture {
        display: none;
    }

    .home-client {
        padding-top: 50px;
    }

    .square-offset-7 {
        margin-left: 25%;
    }
}

@media screen and (max-width:576px) {

    .square-offset-1,
    .square-offset-3,
    .square-offset-2,
    .square-offset-4,
    .square-offset-5,
    .square-offset-7 {
        margin-left: 0;
    }

    .square-item {
        padding-bottom: 30px;
    }
}

/*end client logo*/

/* home story*/
.home-story-content::before {
    content: url("./image/icon_tes.png");
    display: block;
    position: absolute;
    top:50px;
    width: 80px;
    height: 80px;    
}
@media screen and (max-width:1200px) {
    .home-story-content::before {
        top:0;
    }
}
@media screen and (max-width:992px) {
    .home-story-content::before {
        display: none;
    }
}
.box-item__descript {
    font-size: 1rem;
    line-height: 24px;
}

#slide-quote {
    font-size: 16px;
}

.item__name {
    line-height: 24px;
    font-size: 16px;
}

.item-intro__link {
    font-family: opensans-bold;
    font-size: 14px;
    color: #26A69A;
    line-height: 24px;
}

.item__rate {
    color: #fff200;
}

.item__number {
    font-size: 15px;
    color: #333333;
    line-height: 24px;
    padding-left: 10px;
}

@media screen and (max-width:768px) {
    .quote-home .home-story__picture {
        padding-top: 50px;
        padding-bottom: 0;
    }
}

@media screen and (max-width:768px) {
    .home-features-inner {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}

/*home-news*/
.bg-top {
    background-image: url("image/bg_3.png");
    background-repeat: no-repeat;
    background-size: 110% 100%;
    overflow: hidden;
}

.list-blog {
    padding-top: 50px;
}

.blog-item__content {
    position: relative;
}

.blog-item__date {
    background: #FBB034;
    border-radius: 4px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0%;
    margin-right: 15px;

}

.blog-item__date-time {
    font-family: opensans-bold;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    padding: 15px 22px 15px 22px;
}

.blog-item__title {
    font-size: 1.375rem;
    color: #555555;
    line-height: 32px;
}

@media screen and (max-width:992px) {
    .blog-item__title {
        line-height: 28px;
    }
}

.blog-item__category {
    padding-top: 16px;
    padding-bottom: 24px;
    margin: 0;
}

.blog-item__category-author {
    font-size: 15px;
    color: #999999;
    line-height: 24px;
    display: inline-block;
    margin: 0;
}

.category__position-author {
    text-transform: uppercase;
    color: #dfe4ea;
    background-color: #28B0A7;
    border-radius: 3px;
    padding: 0 10px;
}

.category__position-author:hover {
    text-decoration: none;
    color: #ffffff;
}

.blog-item__descript {
    font-size: 1.125rem;
    line-height: 32px;
}

@media screen and (max-width:768px) {
    .bg-top {
        background: none;
    }

    .home-news {
        padding-top: 0;
    }
}

@media screen and (max-width:992px) {

    .home-news .blog-item__category-author {
        font-size: 15px;
    }
}

/*footer*/
.col-footer__title {
    font-size: 17px;
    color: #FFFFFF;
    line-height: 32px;
    text-transform: uppercase;
}

.col-footer__sub {
    font-size: 14px;
    color: #BBBBBB;
    line-height: 24px;
}

.col-footer__sub ul {
    list-style: none;
}

.footer a {
    color: #BBBBBB;
}

.footer a:hover {
    color: #26A69A;
    text-decoration: none;
}

.col-footer__img ul li {
    display: inline;
}

.copyright {
    background-color: #1B2C3D;
    width: 100%;
    margin: 0;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyright__sub-text {
    opacity: 0.6;
    font-family: OpenSans;
    font-size: 13px;
    color: #FFFFFF !important;
    line-height: 24px;
}

.footer-menu ul {
    margin: 0;
}

.footer-menu ul li {
    display: inline;
    padding-right: 30px;
}

@media screen and (max-width:768px) {
    .footer-menu {
        text-align: left !important;
        margin: 0 !important;
    }
}




/*banner home*/

.banner-caption {
    color: #ffffff;
    top: 120px;
}

.banner-content {
    font-size: 16px;
    color: #ffffff;
}

.banner__title {
    font-size: 3.25em;
    line-height: 60px;
}

.banner__descript {
    padding-bottom: 24px;
    font-size: 1.5rem;
    line-height: 36px;

}

.dots {
    top: 70%;
    margin: 0;
}

.dots--blue {
    top: 100%;
}

#slide-banner .dots li,
#slide-quote .dots li {
    border-radius: 50%;
    border: 2px solid #ffffff;
    width: 10px;
    height: 10px;
    background-color: inherit;
}

#slide-banner .dots li:hover {
    background-color: #eeeeee;
}

#slide-quote .dots li:hover {
    background-color: #50af9a;
}

#slide-quote .dots li.active {
    background-color: #50af9a;
    border: none;
    width: 14px;
    height: 14px;
}

#slide-quote .dots--blue li {
    border: 2px solid #50af9a;

}

@media screen and (max-width:1200px) {
    .banner-content img {
        margin-left: -10%;
    }
}

@media screen and (max-width:992px) {
    .banner-content img {
        margin-left: -15%;
    }

}

@media screen and (max-width:768px) {
    .banner-content img {
        margin-left: -25%;
    }

    .banner-content {
        font-size: 13px;
    }

    .banner__title {
        line-height: 50px;
    }

    .banner__descript {
        line-height: 25px;

    }
}

@media screen and (max-width:576px) {
    .banner-content img {
        margin-left: -40%;
    }

    .banner-content {
        font-size: 11px;
    }
}

@media screen and (max-width:380px) {
    .banner-content img {
        margin-left: -50%;
    }

    #slide-banner .dots {
        display: none;
    }

    .banner-content {
        font-size: 9px;
    }

    .banner__title {
        line-height: 40px;
    }


}

/*button*/

.button {
    width: 130px;
    height: 48px;
    background-color: #FBB034;
    color: #ffffff;
    border: 0;
    border-radius: 50px;
    display: inline;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

}

.button:hover {
    background-color: #fff200;
}

.button--light {
    width: 150px;
    border: 2px solid;
    text-transform: uppercase;
    background-color: initial;
}

.button--light:hover {
    background-color: #FFFFFF;
    color: black;
    border: #FFFFFF;
}

.button--bg-green {
    background-color: #26A69A;
}

.button--bg-green:hover {
    background-color: #66FFCC;
}

.button--large {
    width: 180px;
}

.button--more-large {
    width: 220px;
}

.button--small {
    width: 67px;
    height: 24px;
    border-radius: 3px;
    display: inline-block;
}

.button--circle {
    width: 15px;
    height: 15px;
    background-color: initial;
    border-radius: 50%;
    border: solid 2px #ecf0f1;
    margin-left: 10px;
    margin-right: 10px;
}

.button--circle:hover {
    background-color: #ecf0f1;
}




.square__caption--middle {
    font-family: openSans-bold;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.magento-icon {
    width: 4.166666667%;
    position: relative;
}

.magento-icon--arrow {
    font-size: 40px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -10%);
    -moz-transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -10%);
    -webkit-transform: translate(-50%, -10%);
}



/*banner*/
.banner {
    background-image: url("image/bg_banner.png");
    background-repeat: no-repeat;
    background-position: 80% bottom;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width:992px) {
    .banner {
        height: 500px;
    }

    .slide-banner__img {
        display: none;
    }
}

/*quote*/
.quote {
    padding-top: 94px;
    padding-bottom: 94px;
}

.quote-caption {
    font-family: opensans-italic;
    font-size: 1.3em;
    line-height: 36px;
    color: #333333;

}

.pwa--bg {
    background-position: left 27%;
}

.consumer--bg {
    background-position: left 22%;
}

.facia--bg {
    background-position: left 17%;
}

@media screen and (max-width:768px) {
    .quote {
        background-position: 20% 27%;
    }

    .quote-caption {
        font-size: 18px;
    }
}

@media screen and (max-width:576px) {

    .quote {
        background: none;
        padding: 30px 0;
    }

    .quote-caption {
        font-size: 15px;
        line-height: 20px;
    }
}

/*pwa list item*/
.pwa-headding__title {
    font-size: 30px;
    color: #333333;
    line-height: 40px;
}

.bg-deflaut {
    background-image: url("image/bg_4.png");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center bottom;
}

@media screen and (max-width:992px) {
    .pwa-headding__title {
        font-size: 28px;
        line-height: 27px;
    }

    .pwa-list-intro .home-story__descript {
        line-height: 25px;
    }
}

@media screen and (max-width:768px) {
    .home-intro__content {
        padding-top: 30px;
    }

    .bg-deflaut {
        background-image: none;
        padding-bottom: 0;
    }

    .pwa-intro .pb-100 {
        padding: 0;
    }
}

@media screen and (max-width:576px) {
    .pwa-headding__title {
        font-size: 25px;
    }
}

@media screen and (max-width:480px) {
    .pwa-headding__title {
        font-size: 22px;
    }
}

/*card-background*/
.card__square-block {
    width: 120px;
    height: 130px;
    padding-top: 15px;

}

.card-icon {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -25px;
}

@media screen and (max-width:992px) {
    .h-5 {
        height: 8rem;
    }
}



@media screen and (max-width:420px) {
    .h-260 {
        height: 230px;
    }
}

/*pwa power*/

.pwa-block {
    width: 32%;
    display: inline-block;
    padding-top: 30px;
}



.pwa-block__img {
    width: 258px;
    height: 193px;
}

.card-des__title {
    font-family: opensans-bold;
    font-size: 22px;
    color: #555555;
    line-height: 24px;
    margin: 0;
}

.card-des__link {
    font-family: opensans-bold;
    font-size: 14px;
    color: #26A69A;
    line-height: 24px;
    padding-top: 16px;
}

@media screen and (max-width:576px) {
    .pwa-intro .image-grid .pwa-item-icon {
        width: 100%;
        height: auto;
    }

    .pwa-power .pwa-block {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .pwa-intro {
        background: none;
        height: auto;
    }

    .image-grid .pwa-item-icon {
        width: 50%;

    }

    .pwa-block {
        width: 49%;
    }

    .pwa-block:last-child {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}



/*magento-intro*/
@media screen and (max-width:992px) {
    .magento-item .magento-item__img {
        width: 100% !important;
        padding-bottom: 30px;
    }

    .magento-item .magento-item__content {
        width: 100% !important;
    }
}

@media screen and (max-width:768px) {
    .magento-list-card .card-list--w33 {
        padding-bottom: 30px;
    }


}

@media screen and (max-width:420px) {}

/*magento merchants*/
.square-block {
    width: 16%;
    margin: 0 auto;
}

.magento-row {
    max-width: 1200px;
    padding-top: 30px;
}

.square-block__text {
    font-family: opensans-bold;
    font-size: 22px;
    color: #ffffff;
    top: 50%;
    margin-top: -11px;
    margin-left: -15px;
    line-height: 24px;
}

.square-block__description {

    font-size: 16px;
    color: #555555;
    margin: 0;
    margin-top: 24px;
    line-height: 24px;
}

@media screen and (max-width:992px) {
    .magento-icon {
        display: none;
    }

    .square-block {
        width: 33.33%;
    }
}

@media screen and (max-width:768px) {

    .square-block[name="square4"],
    .square-block[name="square5"] {
        float: none !important;
        text-align: center;
        display: inline-block;
        padding-top: 30px;
    }
}

@media screen and (max-width:576px) {
    .square-block__description {
        font-size: 13px;
        padding: 0 15px;
    }
}

@media screen and (max-width:480px) {
    .square-block {
        width: 100%;
        padding-top: 30px;
    }
}

/*button scroll up*/
.scrollup {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0px;
    background-color: #f1c40f;
    right: 20px;
    bottom: 20px;
    z-index: 2000;
}

.button-scroll__icon {
    font-size: 30px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15.5px;
    margin-left: -9.5px;
}

.scrollup:hover {
    background-color: #f39c12;
}

.bg-white {
    background-color: #FFFFFF;
}

@media screen and (max-width:768px) {
    .order-mr-1 {
        order: 1 !important;
    }

    .order-mr-0 {
        order: 0 !important;
    }
}

/*color*/
.c-blue {
    color: #19A79A;
}

.c-night-rider {
    color: #333333;
}

.c-matterhorn {
    color: #555555;
}

.primary-color {
    color: #bdc3c7 !important;
}