*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: opensans-bold;
    src: url("font-open-sans/OpenSans-Bold.ttf")
}
@font-face {
    font-family: opensans-light;
    src: url("font-open-sans/OpenSans-Light.ttf")
}
@font-face {
    font-family: opensans-regular;
    src: url("font-open-sans/OpenSans-Regular.ttf")
}
@font-face {
    font-family: opensans-extra-bold;
    src:url("font-open-sans/OpenSans-ExtraBold.ttf")
}

body {
    width: 100%;
    height: auto;
    font-family: opensans-regular, sans-serif !important;
    color:#777777 !important;
    
}
.container {
    max-width: 1200px !important;
}
.title {
    font-family: opensans-bold;
    font-size: 34px;
    color: #333333;
    line-height: 40px;
    width: 630px;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 48px;
}
.title .title {
    margin-bottom: 0;
}
.pad15 {
    padding-left: 15px;
    padding-right:15px;
}
.margin-none {
    margin:0 !important;
}
.m160--left {
    margin-left:160px;
}
.m80--left {
    margin-left:80px;
}
.m350--left {
    margin-left:350px;
}
.m180--left {
    margin-left:180px;
}
.m0-top {
    margin-top:0 !important;
}
.m0-left {
    margin-left: 0 !important;
}
.m110-right {
    margin-right:110px;
}
.left5 {
    margin-left: 5px;
}
.right5 {
    margin-right: 5px;
}
.right13 {
    margin-right: 13px;
}
.padding-top-30 {
    padding-top:30px;
}
.top100 {
    margin-top:100px;
}
.left80 {
    margin-left:80px;
}
.left160 {
    margin-left: 160px;
}
.left190 {
    margin-left: 190px;
}
.left360 {
    margin-left: 360px;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
/* header */
header {
    text-align: right;
    background-color: #1F3246;
}
header ul li {
    display: inline;
}
header nav {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
    line-height: 24px;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}
header a {
    color:white;
    margin-right:30px;
}
header ul {
    margin:0;
}
header a:hover {
    color:#26A69A;
    text-decoration: none;
}
@media only screen and (max-width:320px) {
    .top-menu--left a {
        margin-right: 15px;
    }

}
/* main-header*/
.main-header {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right:auto;
}

.main-header__logo {
    display: inline-block;
    
}
.main-header__content {
    display: inline-block;
    margin-left:2%;
}

.main-header__content ul {
    margin:0;
}
.main-header__content ul li {
    display: inline-block;
    padding-bottom: 30px;
    padding-top:30px;
    padding-right:35px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.link-item {
    
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
}

.link-item img {
    padding-left:10px;
}
.main-header__link {
    position: relative;
    display: inline-block;
}
.link-box {
    display: none;
    position: absolute;
    background-color: #EEEEEE;
    min-width: 240px;
    z-index: 1;
    padding-left:15px;
}
.main-header__link .link-box {
    margin-top:42px;
}
.main-header__content .link-box li {
    display: block;
}
.main-header__link:hover .link-box {
    display: block;
}
.main-header__title {
    font-family: opensans-bold;
    color:#BBBBBB;
    text-transform: uppercase;
}
.link-box .main-header__title {
    padding-bottom:15px;
}
.hidden-main-menu {
    float: right;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.hidden-main-menu:hover {
    color:#2c3e50;
    

}

.link-box .main-header__des {
    color:#BBBBBB;
    font-size: 16px;
    padding-top:0;
    padding-bottom:15px;
    line-height: 24px;
}
.main-header .icon {
    display: none ;
}
.show-content {
    display: block;
    
    
}
@media screen and (max-width:768px) {
    .main-header .main-header__logo {
        text-align: left;
        width: 50%;
        padding-bottom: 10px;
    }
    .hidden-main-menu {
        display: block;
        cursor: pointer;
        transform: translate(0,50%);
        -moz-transform: translate(0,50%);
        -webkit-transform: translate(0,50%);
        -o-transform: translate(0,50%);
        -ms-transform: translate(0,50%);
        text-align: center;
        margin-top:-1%;
        margin-right:5%;
        

    }
    .main-header__content .main-header__link {
        display: block;
        border-bottom: 1px solid #EAEAEA;
        margin:0;
    }
    .main-header .main-header__content {
        position: fixed;
        width: 220px;
        height: 100vh;
        background-color: black;
        top:0;
        right:-100%; 
        transition: 0.9s;
        z-index: 1;
        ]
    }
    .link-item {
        padding-bottom: 15px;
    }
    .main-header__content ul li {
        padding-bottom: 0 !important;
    }
    .main-header .link-item {
        color: #EEEEEE;
        text-align: left;
        padding-left:15px;
        
    }
    .main-header .show-menu {
        right:0%;
    }
    .main-header .hide_menu {
        right:-100%;
    }
    .main-header .link-box {
        position: relative;
        background-color: #2f3542;
        width: 30%;
        margin-top: 0 !important;
        padding-left:0;
        transition: 0.9s;
        
    }
    .main-header .link-box ul li {
        border-bottom: 1px solid #EAEAEA;
        
    } 
    .main-header .link-box .main-header__link {
        padding-bottom: 0;
    }
    .main-header .link-box .main-header__title, 
    .main-header .link-box .main-header__des {
        
        font-size: 11px;
        padding-left:15px;
        padding-bottom: 15px !important;
    }
    
}
@media screen and (max-width:992px) {
    .main-header__logo {
        text-align: center;
        width: 100%;
        padding-top:10px;
    }
    .main-header__content {
        text-align: center;
        margin-left:auto;
        margin-right: auto;
        width: 100%;
    }
    .main-header .main-header__content ul li {
        padding-right: 20px;
        text-align: center;
        padding-bottom: 15px;
        padding-top:15px;
    }
    .main-header__link .link-box {
        margin-top:29px;
        text-align: left;
    }
    .main-header__link .main-header__title,
    .main-header__link .main-header__des {
        text-align: left !important;
    }
}
@media screen and (max-width:1200px) {
    .link-item {
    
        font-size: 11px;
    }
    .main-header__content ul li {
        padding-right: 15px;
        
    }
}
/*button*/

.button {
    width: 155px;
    height: 48px;
    background-color: #FBB034;
    color: #ffffff;
    border: 0;
    border-radius: 50px;
    display: inline;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    
}

.button--light {
    width: 150px;
    border: 2px solid;
    margin-bottom: 100px;
    background-color: none;
    text-transform: uppercase;
    background-color: initial;
}
.button--light:hover {
    background-color: #FFFFFF;
    color: black;
    border: #FFFFFF;
}
.button--bg-green {
    background-color: #26A69A;
}
.button--bg-green:hover {
    background-color: #66FFCC;
}
.button--large {
    width:210px;
}
.button--small {
    width: 67px;
    height: 24px;
    border-radius: 3px;
    display: inline-block;
}
/*budget*/

/*bannerHome*/

.banner-home {
    background-image: url("image/img_banner2.png");
    background-repeat: no-repeat;
    background-position: 25% center;
    width: 100%;
    height: 720px;
    

}
.banner-home-info {
    position: relative;
    color: #ffffff;
    max-width: 1200px;
    padding-top:15%;
    margin: 0 auto 0 auto;
    display: block;
    width: 65%;
    margin-left:0;
}


.banner-home__title {
    font-family: opensans-bold;
    font-size: 52px;
    color: #FFFFFF;
    line-height: 60px;
}
.banner-home__descript {
    margin-bottom: 48px;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 36px;
}
@media only screen and (max-width: 420px)
{
    .banner-home {
        
        height: 600px !important;
    }
    .banner-home-info .banner-home__title {
        font-size: 26px;
        line-height: 47px;
    }
    .banner-home-info .banner-home__descript {
        font-size: 17px;
    }
}
@media only screen and (max-width: 576px)
{
    .banner-home {
        background-position: 20% bottom;
        height: 562px;
    }
    .banner-home__title {
        font-size: 35px;
        line-height: 52px;
    }
    .banner-home__descript {
        font-size: 18px;
    }
}
@media screen and (max-width:768px) {
    .banner-home-info {
        width: 100% !important;
    }
}
@media only screen and (max-width:1000px) {
    .banner-home-info {
        width: 80%;

    }
}

/*intro*/

.intro {
    width: 100%;
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
    margin-top: -135px;
}
.intro ul {
    margin:0;
}
.intro ul li { 
    display: inline;
}
.intro-video {
    display: inline-block;
    position: relative;
    width: 45%;
}
.intro-video__image {
    width: 100%;
}
.intro-video__icon {
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-36px;
    margin-left: -29px;
}

.intro-info {
    display: inline-block;
    width: 45%;
    margin-left:110px;
    vertical-align: middle;
}
.intro-info__title {
    font-family: opensans-bold; 
    font-size: 34px;
    color: #333333;
    margin-bottom: 24px;
}
.intro-info__descript {
    color:#777777; 
    font-size: 18px;
    margin-bottom: 48px;
    line-height: 32px;
}

.intro-author {
    font-size: 16px;
    color: #19A79A;
    line-height: 24px;
}
.intro-author__place {
    font-family: opensans-bold;
    font-size: 16px;
    color: #151515;
    line-height: 24px;
}
/*feature*/
.features {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden !important;
}
.features-info {
    width: 550px;
    max-width: 1200px;
    display: inline-block;
    position: relative;
    padding-top: 255px;
    margin-bottom: 270px;
}
.features-info__title {
    font-size: 34px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 48px;
}

.features-info__option ul {
    margin: 0;
}
.features-info__option ul li {
    display: inline-block;
}
.pad15 {
    padding-left: 15px;
    padding-right:15px;
}
.platform {
    width: 260px;
    display: inline-block;
    margin-bottom: 24px;
    vertical-align: top;
}
.platform__link {
    font-family: opensans-bold;
    font-size: 14px;
    color: #26A69A;
    text-align: center;
    line-height: 24px;
}
.platform--large {
    width: 24%;
    margin-bottom:0px;
    padding-left:15px;
    padding-right:15px;
}

.platform--mid {
    width: 32% ;
}
.platform__img {
    width: 100%;
}
.platform__descript {
    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}
.features-image {
    display: inline;
    margin-left:100%;
    position: absolute;
    top:0;

}
.sub--bold {
    font-family: opensans-bold;
    font-size: 18px;
    color: #555555;
    line-height: 24px;
    padding-top:24px;
}
.features-image img {
    margin-left:-20%;
}
/*image-grid*/
.image-grid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.image-grid__title {
    width: 630px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
}
.grid-info {
    width: 630px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 36px;
}
.grid-info__title {
    font-family: opensans-bold;
    font-size: 34px;
    color: #333333;
    line-height: 40px;
    margin-bottom: 24px;
}
.grid-info__link {
    font-family: opensans-bold;
    font-size: 14px;
    color: #26A69A;
    text-align: center;
    line-height: 24px;
    margin-top:24px;
}

.image-grid__list {
    margin-left: -15px;
    margin-right: -15px;
}
.image-grid__list ul li {
    display: inline;
}
.image-grid__list ul {
    margin:0;
}
.platform__title {
    font-family: opensans-bold;
    color: #555555;
    font-size: 22px;
    text-transform: capitalize;
    line-height: 24px;
    margin-bottom: 24px;
}
.platform__sub {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}
.platform__icon {
    width: 50px;
    height: 50px;
}
.platform__image {
    width: 100%;
}
@media only screen and (max-width: 480px) {
    .platform {
        width: 90% !important;
        margin: 0 auto;
    }
    .features-info__title {
        font-size: 25px;
    }
    .platform__icon {
        width: 50px !important;
        height: 50px !important;
    }
    .platform__descript {
        font-size: 16px !important;
    }
    .title {
        font-size: 25px;
        text-align: center;
        background-size: 0 0;
    }
    .platform--large {
        padding-left:0px;
        padding-right:0px;
    }
        
}
@media only screen and (max-width: 576px) {
    .features-info {
        width: 100%;
        padding-top:100px;
        margin-bottom: 100px;
    }
    .features-info__option .platform  {
        width: 49%;
    }
    .features-info__option .platform .platform__icon {
        width: 30px;
        height: 30px;
    }
    .features-info__option .platform .platform__descript {
        font-size: 15px;
    }
    .title {
        width: 100%;
    }
    
    
}
@media only screen and (max-width: 768px) {
    .image-grid__list .platform--larger {
        width: 60%;
        margin:0 auto;
    }
}
@media only screen and (max-width: 920px) {
    .platform--large {
        width: 49%;
    }
    .platform--larger {
        width: 33%;
    }
}
@media only screen and (max-width:1000px) {
    .platform--mid {
        width: 25%;
    }
}
/*retailer*/
.retailer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.retailer-info {
    width: 100%;
    max-width: 1200px;
    display: inline-block;
    position: relative;
    margin-bottom: 200px;
}
.retailer-image {
    position: absolute;
    top:0;
    right:80%;
}

.retailer-list {
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}
.list-logo {
    width: 15.67%;
    padding-left:15px;
    padding-right:15px;
    position: relative;
    display: inline-block;
}
.list-logo__bg {
    width: 100%;
    position: relative;
}
.list-logo__icon {
    position: absolute;
    top:50%;
    left:50%;
    width: 125px;
    transform: translate( -50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.list-logo__icon img {
    width: 100%;
}
.retailer-sub {
    margin-top: 100px;
}
.logo-col-1 {
    margin-left:15.67%;
}
.logo-col-2 {
    margin-left:7.3333%;
}
.logo-col-3 {
    margin-left: 31.34%;
}
.logo-col-4 {
    margin-left: 16%;
}
.logo-col-6 {
    margin-left: 47.33%;
}
@media only screen and (max-width:480px) {
    .list-logo {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
    }
    .logo-col-4 {
        margin: 0 !important;
    }

    
}
@media only screen and (max-width: 576px)
{
    
    .retailer-info .retailer-list .list-logo {
        width: 49%;
        margin-bottom: 10%;
    }
    .retailer-info .retailer-list .logo-col-5 {
        margin-left:0;
    }
    .retailer-info .retailer-list .logo-col-4 {
        margin-left:25%;
        margin-top:-50px;
    }
}
@media only screen and (max-width: 768px)
{
    .retailer-image {
        display: none;
    }
    .retailer-list .list-logo {
        width: 30%;
    }
    .logo-col-2 {
        margin-left: 0;
    }
    .retailer-list .logo-col-5  {
        margin-left: 15.33333% ;
    }
    .retailer-list .logo-col-4 {
        margin-left:31%;
    }
    
    
}
@media only screen and (max-width: 992px)
{
    .retailer-info {
        margin-bottom: 100px;
    }
    .list-logo {
        width: 24%;
    }
    .logo-col-1, .logo-col-3, .logo-col-4, .logo-col-6{
        margin-left:0;
    }
    
}

/*quote*/
.quote-video {
    margin-bottom: 100px;
}
@media only screen and (max-width:320px) {
    .intro-video {
        width: 100%;
        display:block;
    }
    .intro-info {
        width: 100%;
        margin: 30px 0px 0px 0px !important;
        display:block;
    }
    
    
}
@media only screen and (max-width:480px) {
    .intro-info .intro-info__title {
        font-size: 20px;
    }
    .intro-info .intro-info__descript {
        font-size: 13px;
        line-height: 32px;
    }
}
@media only screen and (max-width:768px) {
    .intro-video {
        width: 80%;
        display:block;
        margin: 0 auto;
    }
    .intro-info {
        width: 100%;
        margin: 30px 0 0 0 !important;
        display:block;
    }
    .intro-info__title {
        font-size: 25px;
    }
    .intro-info__descript {
        font-size: 16px;
        line-height: 32px;
    }
    .quote-video {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media only screen and (max-width: 1200px) {
    .intro-info {
        margin-left:70px;
        
    }
    .m110-right {
        margin-right:70px;
    }
}

.bg-3 {
    background-image: url("image/bg_3.png");
    background-repeat: no-repeat;
    background-size: 110% 100%;
    overflow: hidden;
    margin-bottom: 168px;
    max-width: 100%;
}
.new {
    margin-top:192px;
}
.news__title {
    font-family: opensans-bold;
    font-size: 19px;
    color: #555555;
    line-height: 32px;
    margin:0;
    padding-top:24px;
}
.new-grid-info {
    padding-top:192px;
}
.news__sub {
    font-size: 18px;
    color: #777777;
    line-height: 32px;
    margin:0;
    
}
.news-category {
    padding-top:16px;
    padding-bottom: 24px;
    margin:0;
}
.news-category__sub {
    font-size: 16px;
    color: #999999;
    line-height: 24px;
    display: inline-block;
    margin:0;
}
.news-date {
    background: #FBB034;
    border-radius: 4px;
    width: 70px;
    height: 70px;
    position: absolute;
    top:0;
    right:0%;
    
}
.news-image {
    width: 100%; 
    position: relative;

}
.news-image img {
    width: 100%;
}
.news-date__sub {
    font-family: opensans-bold;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    padding: 15px 22px 15px 22px;

}
@media only screen and (max-width:380px) {
    .platform .news__title {
        font-size: 15px;
    }
    .platform .news__sub {
        font-size:13px;
    }
    .news-category .news-category__sub {
        font-size: 13px;
    }
    .news .news-list .platform--mid {
        margin-left:0;
        margin-right: 0;
        width: 100% !important;
    }
}
@media only screen and (max-width:480px) {
    
    .news__title {
        font-size: 17px;
    }
    .news__sub {
        font-size:14px;
    }
    .news-category__sub {
        font-size: 14px;
    }
    .platform--mid {
        padding-left:0;
        padding-right:0;
    }
}
@media screen and (max-width:586px) {
    .platform--mid {
        padding-bottom: 50px !important;
    }
}
@media only screen and (max-width:768px) {
    .bg-3 {
        margin-bottom: 0px;
    }
    .news-list .platform--mid {
        width: 80%;
        margin: 0 auto;
        display: block;
        padding-bottom: 100px;
        
    }
    .news-list {
        margin-left:auto;
        margin-right: auto;
    }
}
@media only screen and (max-width:1000px) {
    .platform--mid {
        width: 30%;
    }
    .bg-3 {
        background-image: none;
    }
    .new {
        margin-top:0;
    }
}

/*footer*/
footer {
    background-color: #1F3246;
    width: 100%;
}
.row-footer {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right:auto;
    padding-top:84px;
    padding-bottom: 60px;
}
.col-footer {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    padding-left:15px;
    padding-right:15px;
}
.col-footer--small {
    width: 15.67%;
}

.col-footer__title {
    font-size: 17px;
    color: #FFFFFF;
    line-height: 32px;
    text-transform: uppercase;
}
.col-footer__sub {
    
    font-size: 14px;
    color: #BBBBBB;
    line-height: 24px;
}
.col-footer__sub ul  {
    list-style: none;
}
.footer a {
    color: #BBBBBB;
}
.footer a:hover {
    color:#26A69A;
    text-decoration: none;
}
.col-footer__img ul li{
    display: inline;
}
.copyright {
    background-color:#1B2C3D ;
    width: 100%;
    margin:0;
    height: auto;
}
.copyright__sub {
    opacity: 0.6;
    font-size: 13px;
    color: #EEEEEE;
    line-height: 24px;
    
}
.copyright__sub-text {
    display: inline;
    padding-right: 40px;
    width: 50%;
}
.policy {
    float: right;
}
@media screen and (max-width:480px) {
    .footer  .row-footer .col-footer {
        padding-left: 0;
        padding-right:0;
        margin-left:0;
        margin-right:0;
        width: 90% !important;
    } 
}

@media screen and (max-width:620px) {
    .policy {
        float: none;
    }
    
    .copyright__sub {
        padding-top:15px;
    }
}
@media only screen and (max-width: 768px) {
    .row-footer .col-footer[name="connectpos"] {
        width: 100% ;
        display: block;
        
        padding-bottom: 30px;
    }
    .row-footer .col-footer[name="sale"],
    .row-footer .col-footer[name="type"],
    .row-footer .col-footer[name="us"],
    .row-footer .col-footer[name="media"]
     {
        
        width: 40%;
        padding-bottom: 30px;
    }
    
}
@media only screen and (max-width: 992px) {
    .col-footer[name="connectpos"] {
        width: 60%;
    }   
    .col-footer--small[name="sale"] {
        width: 35%;
    }
    .footer-col-1 {
        width: 29.67%;
    }
}
