* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: opensans-bold;
    src: url("font-open-sans/OpenSans-Bold.ttf")
}

@font-face {
    font-family: opensans-light;
    src: url("font-open-sans/OpenSans-Light.ttf")
}

@font-face {
    font-family: opensans-regular;
    src: url("font-open-sans/OpenSans-Regular.ttf")
}

@font-face {
    font-family: opensans-extra-bold;
    src: url("font-open-sans/OpenSans-ExtraBold.ttf")
}

@font-face {
    font-family: opensans-italic;
    src: url("font-open-sans/OpenSans-Italic.ttf")
}

body {
    width: 100%;
    height: auto;
    font-family: opensans-regular, sans-serif;
    color: #333333;
}

/*ul mac dinh*/
ul {
    margin: 0;
}

ul li {

    margin: 0;
}




/*default-block la block mac dinh*/
.default-block {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.menu-item {
    background-color: #1F3246;
}

.menu-item__nav {
    padding-top: 12px;
    padding-bottom: 12px;
}

nav>ul>li {
    display: inline-block;
}

.menu-item__nav a {
    color: #ffffff;
    padding-left: 40px;
    opacity: 0.6;
    font-size: 13px;
    line-height: 24px;
}

.menu-item__nav a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #3498db;
}

/*responsive navigation*/
@media screen and (max-width:420px) {
    .menu-item__nav a {
        padding-left: 15px;
    }

}

/*main menu*/
.menu {
    background-color: #ffffff;
    box-shadow: 0 3px 5px;
    display: flex;
}

.menu__logo {
    transform: translate(0, 40%);
    -o-transform: translate(0, 40%);
    -ms-transform: translate(0, 40%);
    -webkit-transform: translate(0, 40%);
}

.hidden-menu {
    float: right;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.menu-block {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    position: relative;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu-link__icon {
    padding-left: 10px;
}

.menu-block__link {
    font-size: 15px;
    color: #777777;
    line-height: 48px;
}

.menu-block .menu-block__link a:hover {
    color: #333333;
    text-decoration: none;

}

.menu-block__box {
    display: none;
    position: absolute;
    background-color: #EEEEEE;
    min-width: 240px;
    z-index: 111;
    padding-left: 15px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu-block:hover .menu-block__box {
    display: block;
}

.menu-block__box {
    margin-top: 30px;
}

.menu-block__box .menu-block:first-child {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0;
}

.menu-block__box .menu-block {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 15px;
}

.menu-block__link ul li {
    display: block;
}

.menu-block__title a {
    font-family: opensans-bold;
    line-height: 20px;
    color: #BBBBBB !important;
}

.menu-block__link .menu-block__link a {
    color: #BBBBBB;
    font-size: 15px;

}

.menu-block__link .menu-block__link {
    line-height: 32px;
}

/*button*/

.button {
    width: 155px;
    height: 48px;
    background-color: #FBB034;
    color: #ffffff;
    border: 0;
    border-radius: 50px;
    display: inline;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

}

.button:hover {
    background-color: #fff200;
}

/*responsive main menu*/

@media screen and (max-width:1200px) {
    .menu-block {
        padding-left: 0px;
    }

    .sub-menu>.menu-block:first-child {
        padding-left: 15px;
    }

    .menu-block__link>a {
        font-size: 10px;
    }
}

@media screen and (max-width:992px) {
    .menu__logo {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    .menu__logo {
        text-align: left;
        width: 50%;
        transform: none;
        padding: 10px 0;
    }

    .hidden-menu {
        display: block;
        cursor: pointer;
        transform: translate(0, 50%);
        -moz-transform: translate(0, 50%);
        -webkit-transform: translate(0, 50%);
        -o-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
        margin-top: -15px;
        padding-top: 8px;
    }

    .menu nav {
        position: fixed;
        width: 220px;
        height: 100vh;
        background-color: black;
        top: 0;
        right: -100%;
        transition: 0.9s;
        z-index: 11;
        overflow-y: scroll;

    }

    ::-webkit-scrollbar {
        display: none;
    }

    .menu .show-menu {
        right: 0%;
    }

    .menu-block {
        display: block;
        border-bottom: 1px solid #EAEAEA;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 15px;
        color: #ffffff !important;
    }

    .menu-block__link {
        color: #ffffff;
    }

    .menu-block__link a:hover {
        color: #3498db !important;
    }

    .menu-block__box {
        position: relative;
        background-color: #7f8c8d;
        width: 30%;
        margin-top: 0 !important;
        padding-left: 0;
        transition: 0.9s;
        margin-left: -15px;
    }

    .menu-block__box .menu-block:first-child {
        padding-top: 0;
    }

    .menu-block:hover .menu-block__box {
        display: none;
    }

    .menu-block.action .menu-block__box {
        display: block;
    }

    .menu__button {
        padding-top: 50px;
    }
}

/*slide banner*/
.banner-caption {
    color: #ffffff;
    position: absolute;
    top: 15%;
    width: 65%;
    max-width: 700px;
}

.banner-caption__title {
    font-family: opensans-bold;
    font-size: 52px;
    line-height: 60px;
}

.banner-caption__description {
    font-size: 22px;
    line-height: 36px;
}

.dots-item {
    position: absolute;
    top: 70%;
}

.dots-item li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*responsive banner slider*/
@media screen and (max-width:1200px) {
    .slide-item img {
        margin-left: -15%;
    }
}

@media screen and (max-width:992px) {
    .banner-caption {
        width: 100%;

    }
}

@media screen and (max-width:768px) {
    .banner-caption {
        max-width: 540px;
    }

    .banner-caption__title {
        font-size: 45px;
        line-height: 50px;
    }

    .banner-caption__description {
        font-size: 18px;
        line-height: 30px;
    }
}

@media screen and (max-width:567px) {
    .slide-item img {
        margin-left: -25%;
    }

    .banner-caption__title {
        font-size: 40px;
        line-height: 45px;
    }

    .banner-caption__description {
        font-size: 15px;
        line-height: 25px;
    }
}

@media screen and (max-width:480px) {
    .banner-caption {
        max-width: 480px;
    }

    .slide-item img {
        margin-left: -70%;
    }

    .banner-caption__title {
        font-size: 30px;
        line-height: 40px;
    }

    .banner-caption__description {
        font-size: 13px;
        line-height: 20px;
    }
}

.button--light {
    width: 150px;
    border: 2px solid;
    text-transform: uppercase;
    background-color: initial;
}

.button--light:hover {
    background-color: #FFFFFF;
    color: black;
    border: #FFFFFF;
}

/*pad15 padding-15*/
.pad15 {
    padding-left: 15px;
    padding-right: 15px;
}

.video-item__img {
    width: 50%;
}

.video-item__img>img {
    width: 100%;
}

.video-item__icon {
    top: 50%;
    left: 50%;
    margin-top: -29px;
    margin-left: -22px;
}

.button--bg-green {
    background-color: #26A69A;
}

.button--bg-green:hover {
    background-color: #66FFCC;
}

.item-title {
    font-family: opensans-bold;
    font-size: 34px;
    color: #333333;
    line-height: 40px;
}

.item-description {
    font-size: 18px;
    color: #777777;
    line-height: 32px;
}